@use '@css/2-tools/mixins' as *;

.card {
    background: var(--color-bg);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    gap: var(--size-l);
    height: 100%;
    justify-content: space-between;
    padding: var(--size-l);
    position: relative;
    transition: var(--duration-l) ease;

    .u-theme-0 &.u-theme-0 {
        border: 1px solid var(--color-border);
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: var(--size-l);
    }

    &__picture {
        aspect-ratio: 16 / 9;
        border-radius: var(--media-border-radius-s);
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            transform: scale(1.05);
            transition: var(--duration-l) ease;
        }
    }

    &__text {
        display: flex;
        flex-direction: column;
        gap: var(--size-s);
    }

    &__footer {
        .ctas {
            position: relative;
            z-index: 2;
        }
    }

    &__link {
        display: block;
        position: absolute;
        inset: 0;
        z-index: 1;
    }

    &:has(.card__link):hover {
        border-color: var(--color-border-hc);

        .card__picture {
            img {
                transform: scale(1);
            }
        }
    }

    @include screen-min(l) {
        padding: var(--size-xl);
    }
}