@use '@css/2-tools/mixins' as *;

.hero {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    padding-top: calc(var(--nav-height) + var(--nav-offset-y)) !important;
    position: relative;

    &.u-theme-inverted {
        &::before {
            background: linear-gradient(0deg,  var(--theme-inverted-color-bg), transparent 75%);
            content: '';
            display: block;
            inset: 0;
            position: absolute;
            z-index: 2;
        }
    }

    &__backdrop {
        bottom: 0;
        position: absolute;
        height: 125%;
        left: 0;
        object-fit: cover;
        position: absolute;
        transform: translate3d(0, calc(var(--equinox-pos) * 20%), 0);
        width: 100%;
        z-index: 1;
    }

    &__content {
        position: relative;
        z-index: 3;
    }

    &--small {
        min-height: 50svh;
    }

    &--medium {
        min-height: 75svh;
    }

    &--large {
        min-height: 100svh;
    }

    &__text {
        color: var(--color-text-hc);
        font-size: var(--font-size-l);
        max-width: 40rem;
    }
}