@use '@css/2-tools/mixins' as *;

.product {
    background: var(--color-bg);
    border-radius: var(--border-radius-l);
    display: flex;
    flex-direction: column;
    gap: var(--size-l);
    height: 100%;
    justify-content: space-between;
    line-height: var(--line-height-l);
    padding: var(--size-l);
    position: relative;
    transition: var(--duration-l) ease;

    .u-theme-0 & {
        border: 1px solid var(--color-border);
    }

    &__title {
        font-size: var(--font-size-l);
        line-height: var(--line-height-l);
    }

    &__price {
        align-items: baseline;
        display: flex;
        gap: .5em;

        &-from {
            color: var(--color-text-hc);
        }

        &-value {
            color: var(--color-text-hc);
            font-size: var(--font-size-xxl);
            font-weight: 700;
        }
    }

    &__description {
        margin: 1em 0;
    }

    &__features {
        display: flex;
        flex-direction: column;
        font-size: var(--font-size-s);
        gap: var(--size-s);
    }

    &__feature {
        margin-left: 0;
        padding-left: 1.75em;
        position: relative;

        &::before {
            background: var(--color-1);
            mask-image: url('data:image/svg+xml;utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"><path d="M20 6 9 17l-5-5"/></svg>');
            mask-size: 1.25em;
            content: '';
            display: block;
            height: 1.25em;
            left: 0;
            position: absolute;
            top: 0.125em;
            width: 1.25em;
        }
    }

    .ctas {
        display: flex;
        margin-top: var(--size-m);

        .btn {
            flex: 1;
        }
    }

    @include screen-min(l) {
        padding: var(--size-xl);
    }
}