@use '@css/2-tools/mixins' as *;

.testimonialAlt {
    padding-bottom: var(--size-m);

    &__image {
        border-radius: var(--border-radius-l);
        float: right;
        margin: -.5rem 0 1.5rem 1.5rem;
        width: calc(50% - var(--size-m));

        aspect-ratio: 1 / 1;
        overflow: hidden;
        position: relative;

        img {
            bottom: 0;
            position: absolute;
            height: 125%;
            left: 0;
            object-fit: cover;
            position: absolute;
            transform: translate3d(0, calc(var(--equinox-pos) * 20%), 0);
            width: 100%;
            z-index: 1;
        }
    }

    &__pullQuote {
        font-family: var(--font-2);
        font-size: var(--font-size-xl);
        font-weight: 600;
        hanging-punctuation: first;
        line-height: var(--line-height-m);
        margin-bottom: var(--size-l);
    }

    &__author {
        color: var(--color-text-lc);
        margin-bottom: var(--size-l);

        &-name {
            font-weight: 600;
        }
    }
}