.blogList {
    display: flex;
    flex-direction: column;
    gap: var(--size-l);
    position: sticky;
    top: var(--size-xxl);

    &__title {
        font-family: var(--font-2);
        font-size: 1.75rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: var(--size-l);
    }
}