@use '@css/2-tools/mixins' as *;

.footer {
    margin-top: var(--section-padding-y);

    &__inner {
        padding: var(--section-padding-y) 0;
    }

    &__logo {
        margin-bottom: var(--size-xxl);
        width: var(--footer-logo-width);
    }

    &__heading {
        font-size: var(--font-size-xl);
        font-weight: 600;
        letter-spacing: 0;
        margin-bottom: var(--size-s);
    }

    &__text {
        font-size: var(--font-size-s);
        line-height: var(--line-height-l);

        b,
        strong {
            font-weight: 00;
        }
    }

    &__contact,
    &__links {
        line-height: 1.75;
    }

    &__icons {
        display: flex;
        gap: 1rem;
        margin-top: var(--size-m);
    }

    &__icon {
        background: var(--color-link);
        display: block;
        height: 1.5rem;
        mask-size: 100% 100%;
        overflow: hidden;
        text-indent: -9999px;
        width: 1.5rem;

        &:hover {
            background: var(--color-link-hover);
        }

        &--instagram {
            mask-image: url('@public/assets/icons/instagram.svg');
        }

        &--linkedin {
            mask-image: url('@public/assets/icons/linkedin.svg');
        }

        &--spotify {
            mask-image: url('@public/assets/icons/spotify.svg');
        }

        &--whatsapp {
            mask-image: url('@public/assets/icons/whatsapp.svg');
        }

        &--x {
            mask-image: url('@public/assets/icons/x.svg');
        }
    }

    &__separator {
        a {
            color: var(--footer-legal-color-text) !important;
            display: inline-block;
            text-decoration-color: transparent;
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;

            &:hover {
                text-decoration-color: currentColor;
            }
        }
    }

    &__legal {
        display: flex;
        font-size: var(--font-size-xs);
        justify-content: space-between;
        padding: var(--size-l) 0;
    }

    &__legalLinks {
        display: flex;
        gap: var(--size-l);
    }

    a {
        color: var(--footer-color-link);
        transition: var(--duration-m);

        &:hover {
            color: var(--footer-color-link-hover);
        }
    }

    @include screen-min(m) {
        &__text {
            width: 75%;
        }

        &__split {
            display: flex;
            justify-content: space-between;
        }
    }
}