@use '@css/1-settings/variables' as *;
@use '@css/2-tools/mixins' as *;
@use 'sass:map';

.stack {
    display: flex;
    flex-direction: column;

    &--start {
        align-items: flex-start;
    }

    &--center {
        align-items: center;
    }

    &--end {
        align-items: flex-end;
    }
}

@mixin stack-gap($selector, $val) {
    #{$selector} {
        gap: $val;
    }
}

@each $key, $val in $sizes {
    @include stack-gap('.stack--gap-#{$key}', $val);
}

@each $breakpoint in map.keys($breakpoints) {
    @include screen-min($breakpoint) {
        @each $key, $val in $sizes {
            @include stack-gap('.#{$breakpoint}\\:stack--gap-#{$key}', $val);
        }
    }
}