.u-link {
    &-icon {
        align-items: center;
        display: inline-flex;
        gap: .5em;

        svg {
            height: 1.5em;
            width: 1.5em;
        }
    }

    &-lc-underline {
        color: var(--color-text-light);
        text-decoration: underline;
    }
}