@use '@css/2-tools/mixins' as *;

.blogItem {
    position: relative;

    &__image {
        aspect-ratio: 1/1;
    }

    &__content {
        align-items: center;
        display: flex;
        gap: var(--gutter);
    }

    &__picture {
        border-radius: var(--border-radius-s);
        overflow: hidden;
        position: relative;
        width: 100%;

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    &__date {
        color: var(--color-text-lc);
        font-size: var(--font-size-s);
    }

    &__title {
        a {
            color: var(--color-text-hc);
            text-decoration-color: transparent;
            text-decoration-line: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 2px;
            transition: var(--duration-s);
        }
    }

    &__link {
        color: transparent;
        inset: 0;
        position: absolute;
        text-indent: -9999px;
    }

    &__meta {
        color: var(--color-text-lc);
        font-size: var(--font-size-s);
    }

    &__author {
        display: flex;
        align-items: center;
        gap: var(--size-xs);

        &-image {
            height: 24px;
            width: 24px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }
    }

    @include screen-max(m) {
        padding: var(--size-l) 0;

        .grid__col:not(:first-child) & {
            border-top: 1px solid var(--color-border);
        }

        &__picture {
            aspect-ratio: 1 / 1;
            flex: 0 0 20%;
        }
    }

    @include screen-min(m) {
        &__content {
            align-items: stretch;
            flex-direction: column;
            gap: var(--size-m);
        }

        &__picture {
            aspect-ratio: 16 / 9;
            flex: 0 0 20%;
        }

        &__image {
            transform: scale(1.05);
            transition: var(--duration-l) ease;
        }

        &:hover {
            .blogItem__image {
                transform: scale(1);
            }

            .blogItem__title {
                a {
                    text-decoration-color: var(--color-text-lc);
                }
            }
        }
    }
}