.person {
    display: flex;
    flex-direction: column;
    gap: var(--size-m);

    &__photo {
        aspect-ratio: 1 / 1;
        border-radius: var(--border-radius-m);
        overflow: hidden;
        width: 100%;
    }

    &__text {
        line-height: var(--line-height-l);
    }

    &__name {
        color: var(--color-text-hc);
        font-weight: 600;
    }
    
    &__role {
        font-size: var(--font-size-m);
        font-weight: var(--font-weight-medium);
    }

    &__location {
        color: var(--color-text-lc);
        font-size: var(--font-size-s);
    }
}