@use '@css/2-tools/mixins' as *;

.testimonial {
    background-color: var(--color-bg);
    border-radius: var(--border-radius-l);
    height: 100%;
    display: flex;
    gap: var(--size-l);
    flex-direction: column;
    justify-content: space-between;
    padding: var(--size-l);

    .u-theme-0 & {
        border: 1px solid var(--color-border);
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__text {
        line-height: var(--line-height-l);
    }

    &__author {
        align-items: center;
        display: flex;
        gap: 1rem;

        &-image {
            border-radius: 50%;
            flex: 0 0 3.5rem;
            width: 3.5rem;
            height: 3.5rem;
        }

        &-text {
            line-height: var(--line-height-l);
        }

        &-name {
            color: var(--color-text-hc);
            font-weight: 600;
        }

        &-company {
            font-size: var(--font-size-s);
            color: var(--color-text-lc);
        }

        &-subtitle {
            color: var(--color-text-lc);
            font-size: var(--font-size-s);
            line-height: var(--line-height-s);
        }
    }

    @include screen-min(l) {
        .l\:grid__col--span-6 & {
            gap: var(--size-xl);
            padding: var(--size-xl);
        }

        &__text {
            line-height: var(--line-height-l);
    
            .l\:grid__col--span-6 & {
                font-size: var(--font-size-l);
            }
        }
    }
}