h1 {
    color: var(--color-text-hc);
    font: var(--h1-weight) var(--h1-style) var(--h1-size) / var(--h1-line-height) var(--h1-font);
    letter-spacing: var(--h1-letter-spacing);
    text-transform: var(--h1-text-transform);
}