h2 {
    color: var(--color-text-hc);
    font: var(--h2-weight) var(--h2-style) var(--h2-size) / var(--h2-line-height) var(--h2-font);
    letter-spacing: var(--h2-letter-spacing);
    text-transform: var(--h2-text-transform);
}