h3 {
    color: var(--color-text-hc);
    font: var(--h3-weight) var(--h3-style) var(--h3-size) / var(--h3-line-height) var(--h3-font);
    letter-spacing: var(--h3-letter-spacing);
    text-transform: var(--h3-text-transform);
}