h4 {
    color: var(--h4-color);
    font: var(--h4-weight) var(--h4-style) var(--h4-size) / var(--h4-line-height) var(--h4-font);
    letter-spacing: var(--h4-letter-spacing);
    text-transform: var(--h4-text-transform);
}