h5 {
    color: var(--h5-color);
    font: var(--h5-weight) var(--h5-style) var(--h5-size) / var(--h5-line-height) var(--h5-font);
    letter-spacing: var(--h5-letter-spacing);
    text-transform: var(--h5-text-transform);
}