input {
    appearance: none;
    border: none;
    color: var(--color-text);
    font-family: var(--font-1);
    font-size: var(--font-size-m);
    font-variant-numeric: tabular-nums;

    &::placeholder {
        color: var(--input-placeholder-color);
        display: block;
        opacity: 1;
    }

    &[type='search']::-webkit-search-cancel-button,
    &[type='search']::-webkit-search-decoration,
    &[type='search']::-webkit-search-results-button,
    &[type='search']::-webkit-search-results-decoration {
        display: none;
    }
}