@charset 'utf-8';

@use '@npm/reset-css/sass/_reset' as resetCss;

/**
 * 1. Settings
 */
@use '@css/1-settings/fonts';
@use '@css/1-settings/variables';

/**
 * 3. Elements
 */
@use '@css/3-elements/_reset';
@use '@css/3-elements/a';
@use '@css/3-elements/body';
@use '@css/3-elements/button';
@use '@css/3-elements/h1';
@use '@css/3-elements/h2';
@use '@css/3-elements/h3';
@use '@css/3-elements/h4';
@use '@css/3-elements/h5';
@use '@css/3-elements/html';
@use '@css/3-elements/img';

/**
 * 4. Components
 */
@use '@css/4-components/sections/accordion-item';
@use '@css/4-components/sections/blog-item';
@use '@css/4-components/sections/card';
@use '@css/4-components/sections/column';
@use '@css/4-components/sections/companies';
@use '@css/4-components/sections/company';
@use '@css/4-components/sections/cta';
@use '@css/4-components/sections/hero';
@use '@css/4-components/sections/person';
@use '@css/4-components/sections/product';
@use '@css/4-components/sections/stat';
@use '@css/4-components/sections/stats';
@use '@css/4-components/sections/testimonial';
@use '@css/4-components/sections/text-media';
@use '@css/4-components/sections/ticker-section';
@use '@css/4-components/blog';
@use '@css/4-components/blog-list';
@use '@css/4-components/blog-list-item';
@use '@css/4-components/btn';
@use '@css/4-components/ctas';
@use '@css/4-components/footer';
@use '@css/4-components/grid';
@use '@css/4-components/icon-link';
@use '@css/4-components/menu';
@use '@css/4-components/meta';
@use '@css/4-components/page';
@use '@css/4-components/pagination';
@use '@css/4-components/rich-text';
@use '@css/4-components/section';
@use '@css/4-components/text-split';
@use '@css/4-components/nav';
@use '@css/4-components/stack';
@use '@css/4-components/ticker';
@use '@css/4-components/wrapper';

/**
 * 5. Utilities
 */
@use '@css/5-utils/color';
@use '@css/5-utils/text';
@use '@css/5-utils/themes';