columnSuffix: null
handle: iconName
instructions: 'Enter the icon name from the Lucide icon set: https://lucide.dev/icons/'
name: Icon
searchable: false
settings:
  byteLimit: null
  charLimit: null
  code: true
  initialRows: 4
  multiline: false
  placeholder: null
  uiMode: normal
translationKeyFormat: null
translationMethod: none
type: craft\fields\PlainText
